*~
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
build/
.gradle/
.gradletasknamecache
out/
target/
/classes
*.class
workspace/

# allow some idea specifc files
!.idea/codeStyleSettings.xml
!.idea/gradle.xml
